/* Home.css */

.home-container {
    position: relative;
    background-image: url('https://www.entrelineas.info/media/cache/pub_news_details_large/media/i/6e640c46edafed9b2b11960f4a226a8fb810b47b.jpg'); /* Reemplaza con tu URL de imagen */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .home-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Filtro oscuro para que el texto se vea más claro */
  }
  
  .home-content {
    position: relative;
    text-align: center;
    padding: 20px;
    z-index: 1;
  }
  
  .home-title {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); /* Sombra para resaltar el texto */
  }
  
  .home-description {
    font-size: 22px;
    color: #ddd;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Sombra para el texto */
  }
  